<!DOCTYPE html>
<html>
<head>
    <title>ALOY: The Automatic LCP Optimizations Yielder Tool</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.simplecss.org/simple.min.css"
</head>
<body>
    <!-- Logo ALOY -->
    <div style="text-align: center; margin-bottom: 20px;">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo ALOY">
    </div>

    <h1>ALOY: The Automatic LCP Optimizations Yielder Tool</h1>
    <form method="post" action="/"> <!-- Correction de l'attribut "action" -->
        <label for="lcp">Largest Contentful Paint (LCP) (ms):</label>
        <input type="text" id="lcp" name="lcp" value="{{ lcp }}" placeholder="Enter LCP value"><br>

        <label for="ttfb">Time To First Byte (TTFB) (ms):</label>
        <input type="text" id="ttfb" name="ttfb" value="{{ ttfb }}" placeholder="Enter TTFB value"><br>

        <label for="lcp_start_loading_time">LCP Start Loading Timing (ms):</label>
        <input type="text" id="lcp_start_loading_time" name="lcp_start_loading_time" value="{{ lcp_start_loading_time }}" placeholder="Enter LCP start loading timing"><br>

        <label for="resource_load_time">Resource Load Time (ms):</label>
        <input type="text" id="resource_load_time" name="resource_load_time" value="{{ resource_load_time }}" placeholder="Enter resource load time"><br>

        <input type="submit" value="Evaluate">
    </form>

    <p>{{ recommandations_html | safe }}</p>
</body>
</html>
